<div class="file-list-wrapper">
	<ol class="tiny-menu">
        @if(this.filesList === null || Object.keys(this.filesList).length === 0)
            <div style="color: #ffffffbd !important; text-align: center;">@noFilesMessage</div>
        @endif

		@for(file in this.filesList; idx = $count)
            @if(file.version !== true)
                <li id="{file.id}" class="tiny-menu-item current-file-{file.id}">
                    <div class="dots-container">
                        <span class="dots-icon" onclick="component.togglePopup(this, '{file.name}', '{file.id}')" fill="currentColor">
                            <img class="dots" src="app/assets/imgs/file-list/dots.svg" width="12">
                        </span>
                        @if(file.versions?.length > 0)
                            <span class="more-file-versions" onclick="component.showOrHideVersion(this, '{file.id}')">+</span>
                        @endif
                    </div>
                    <img class="file-type-{file.type} has-versions-{file.versions?.length > 0}" src="app/assets/imgs/left-menu/{file.type}-file.png" width="20">
                    <div class="file-name" style="max-width: 69%;">&nbsp;{file.name}</div>
                    <div class="file-info-list">
                        <div class="file-size">{file.size} {file.unit}</div>
                    </div>
                </li>
                @if(file.versions?.length > 0)
                    <div class="versions-of-file-{file.id}" style="display: none;">
                        @for(version in file.versions)
                            <li class="tiny-menu-item current-file-{version.id} tiny-menu-item-version-file">
                                <div class="dots-container">
                                    <span class="dots-icon" onclick="component.togglePopup(this, '{version.name}', '{version.id}')" fill="currentColor">
                                        <img class="dots" src="app/assets/imgs/file-list/dots.svg" width="12">
                                    </span>
                                </div>
                                <img class="file-type-{version.type}" src="app/assets/imgs/left-menu/{version.type}-file.png" width="20">
                                <div class="file-name" style="max-width: 69%;">&nbsp;{version.name}</div>
                                <div class="file-info-list">
                                    <div class="file-size">{file.size} {file.unit}</div>
                                </div>
                            </li>
                        @endfor
                    </div>
                @endif
            @endif
		@endfor
	</ol>

	<div id="@uniqId" class="popup file-list-popup">
		<ul>
            <span (renderIf)="self.isOpenInEditor">
                <li onclick="component.openInEditor(); component.closeDropdown()">Open in editor</li>
            </span>
            <li onclick="component.downloadfile()">Download</li>
            <span (renderIf)="self.isDataFile">
                <li onclick="component.deletefile()">Delete</li>
            </span>
		</ul>
	</div>
</div>