backend/src/*.db
backend/src/__pycache__
backend/src/*.duckdb
backend/src/dd.py
backend/src/cc.py
backend/src/.env.bkp
backend/venv
backend/src/scratch
backend/src/services/__pycache__
backend/src/utils/__pycache__
backend/src/node_mapper/__pycache__
backend/src/services/workspace/__pycache__
backend/src/services/pipeline/__pycache__
backend/src/services/workspace/__pycache__
backend/src/controller/__pycache__
backend/src/connectors/db/__pycache__
backend/src/connectors/__pycache__

ui/app/components/node-types/Scratch.js
ui/app/mixin/Component.js
ui/app/scratch

dbs
z
ztore
package-lock.json
*vanilla.html
*.pyc
*.*.pyc

backend/destinations/duckdb/*/*.duckdb
backend/destinations/pipeline/*/*.py
backend/destinations/pipeline/*/*.meta
backend/destinations/code/*/*.json

vault/vault/*