backend/src/*.db
backend/src/__pycache__
backend/src/*.duckdb
backend/src/dd.py
backend/src/cc.py
backend/venv
backend/destinations/*.py
backend/destinations
backend/src/services/__pycache__
backend/src/node_mapper/__pycache__
backend/src/services/workspace/__pycache__
backend/src/services/pipeline/__pycache__
backend/src/services/workspace/__pycache__
backend/src/controller/__pycache__

ui/app/components/node-types/Scratch.js
ui/app/mixin/Component.js

z
ztore

