aiobotocore==2.21.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aioitertools==0.12.0
aiosignal==1.3.2
attrs==25.3.0
bidict==0.23.1
blinker==1.9.0
botocore==1.37.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
dlt==1.10.0
dlt-pendulum==3.0.2
duckdb==1.2.2
Flask==3.1.0
flask-cors==5.0.1
Flask-SocketIO==5.5.1
frozenlist==1.6.0
fsspec==2025.3.2
gitdb==4.0.12
GitPython==3.1.44
giturlparse==0.12.0
greenlet==3.2.1
h11==0.16.0
hexbytes==1.3.0
humanize==4.12.3
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
jsonpath-ng==1.7.0
makefun==1.15.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
multidict==6.4.3
mysql-connector-python==9.3.0
numpy==2.2.5
orjson==3.10.18
packaging==25.0
pandas==2.2.3
pathvalidate==3.2.3
pluggy==1.5.0
ply==3.11
propcache==0.3.1
pycparser==2.22
Pygments==2.19.1
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-engineio==4.12.0
python-socketio==5.13.0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
requirements-parser==0.11.0
rich==14.0.0
rich-argparse==1.7.0
s3fs==2025.3.2
semver==3.0.4
setuptools==80.1.0
simple-websocket==1.1.0
simplejson==3.20.1
six==1.17.0
smmap==5.0.2
SQLAlchemy==2.0.40
sqlglot==26.16.2
tabulate==0.9.0
tenacity==9.1.2
tomlkit==0.13.2
types-setuptools==80.0.0.20250429
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.2.0
yarl==1.20.0
eventlet