:root {
    --border-color: #cacaca;
    --background-color: #ffffff;
    --background-box-title: #f7f7f7;

    --color-gray-900: #1f2937;
    --color-gray-800: #1f2937;
    --color-gray-700: #374151;
    --color-gray-600: #4b5563;
    --color-gray-500: #6b7280;
    --color-gray-300: #d1d5db;
    --color-gray-200: #e5e7eb;
    --color-gray-100: #f3f4f6;
    --color-white: #ffffff;
    --color-blue-400: #60a5fa;
    --color-green-400: #4ade80;
    --color-yellow-300: #fcd34d;
}

html,
body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 66px;
    border-bottom: 1px solid var(--border-color);
    padding-left: 20px;
}

header h2 {
    margin: 0px;
    line-height: 66px;
}

header a {
    color: black;
}

.them-edit-link {
    position: absolute;
    top: 10px;
    right: 100px;
    color: black;
    font-size: 40px;
}

.them-edit-link a {
    text-decoration: none;
}

.github-link {
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
}

.wrapper {
    width: 100%;
    height: calc(100vh - 67px);
    display: flex;
}

.col {
    overflow: auto;
    width: 300px;
    height: 100%;
    border-right: 1px solid var(--border-color);
}

.drag-drawflow {
    line-height: 50px;
    border-bottom: 1px solid var(--border-color);
    padding-left: 20px;
    cursor: move;
    user-select: none;
}

.menu {
    position: absolute;
    height: 40px;
    display: block;
    background: white;
    width: 100%;
}

.menu ul {
    padding: 0px;
    margin: 0px;
    line-height: 40px;
}

.menu ul li {
    display: inline-block;
    margin-left: 10px;
    border-right: 1px solid var(--border-color);
    padding-right: 10px;
    line-height: 40px;
    cursor: pointer;
}

.menu ul li.selected {
    font-weight: bold;
}

.btn-export {
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-weight: bold;
    border: 1px solid #0e5ba3;
    background: #4ea9ff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}

.btn-clear {
    float: right;
    position: absolute;
    top: 10px;
    right: 85px;
    color: white;
    font-weight: bold;
    border: 1px solid #96015b;
    background: #e3195a;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 5;
}

.swal-wide {
    width: 80% !important;
}

.btn-lock {
    float: right;
    position: absolute;
    bottom: 35px;
    right: 110px;
    display: flex;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
    background: #555555;
    border-radius: 4px;
    border-right: 1px solid var(--border-color);
    z-index: 5;
    cursor: pointer;
}

.bar-zoom {
    float: right;
    position: absolute;
    bottom: 35px;
    right: 10px;
    display: flex;
    font-size: 24px;
    color: white;
    padding: 5px 10px;
    background: #555555;
    border-radius: 4px;
    border-right: 1px solid var(--border-color);
    z-index: 5;
}

.bar-zoom svg {
    cursor: pointer;
    padding-left: 10px;
}

.bar-zoom svg:nth-child(1) {
    padding-left: 0px;
}

#drawflow {
    position: relative;
    width: calc(100vw - 301px);
    height: calc(100% - 50px);
    top: 40px;
    background: var(--background-color);
    background-size: 25px 25px;
    background-image:
        linear-gradient(to right, #f1f1f1 1px, transparent 1px),
        linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
}

@media only screen and (max-width: 768px) {
    .col {
        width: 50px;
    }

    .col .drag-drawflow span {
        display: none;
    }

    #drawflow {
        width: calc(100vw - 51px);
    }
}



/* Editing Drawflow */

.drawflow .drawflow-node {
    background: var(--background-color);
    border: 1px solid var(--border-color);
    -webkit-box-shadow: 0 2px 15px 2px var(--border-color);
    box-shadow: 0 2px 15px 2px var(--border-color);
    padding: 0px;
    width: 200px;
}

.drawflow .drawflow-node.selected {
    background: white;
    border: 1px solid #4ea9ff;
    -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
    box-shadow: 0 2px 20px 2px #4ea9ff;
}

.drawflow .drawflow-node.selected .title-box {
    color: #22598c;
    /*border-bottom: 1px solid #4ea9ff;*/
}

.drawflow .connection .main-path {
    stroke: #4ea9ff;
    stroke-width: 3px;
}

.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
    height: 15px;
    width: 15px;
    border: 2px solid var(--border-color);
}

.drawflow .drawflow-node .input:hover,
.drawflow .drawflow-node .output:hover {
    background: #4ea9ff;
}

.drawflow .drawflow-node .output {
    right: 10px;
}

.drawflow .drawflow-node .input {
    left: -10px;
    background: white;
}

.drawflow>.drawflow-delete {
    border: 2px solid #43b993;
    background: white;
    color: #43b993;
    -webkit-box-shadow: 0 2px 20px 2px #43b993;
    box-shadow: 0 2px 20px 2px #43b993;
}

.drawflow-delete {
    border: 2px solid #4ea9ff;
    background: white;
    color: #4ea9ff;
    -webkit-box-shadow: 0 2px 20px 2px #4ea9ff;
    box-shadow: 0 2px 20px 2px #4ea9ff;
}

.drawflow-node .title-box {
    height: 50px;
    line-height: 50px;
    background: var(--background-box-title);
    border-bottom: 1px solid #e9e9e9;
    border-radius: 4px 4px 0px 0px;
    padding-left: 10px;
}

.drawflow .title-box svg {
    position: initial;
}

.drawflow-node .box {
    padding: 10px 20px 20px 20px;
    font-size: 14px;
    color: #555555;

}

.drawflow-node .box p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.drawflow-node.welcome {
    width: 250px;
}

.drawflow-node .title-box {
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
}

.drawflow-node input,
.drawflow-node select,
.drawflow-node textarea {
    border-radius: 4px;
    border: 1px solid var(--border-color);
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    width: 158px;
    color: #555555;
}

.drawflow-node textarea {
    height: 100px;
}

/* PERSONALIZED TO BE REMOVED */
.drawflow-node.personalized {
    background: red;
    height: 200px;
    width: 200px;
    text-align: center;
    color: white;
}

.drawflow-node.personalized .input {
    background: yellow;
}

.drawflow-node.personalized .output {
    background: green;
}

.drawflow-node.personalized.selected {
    background: blue;
}

/* END OF PERSONALIZED TO BE REMOVED */


.drawflow-node.Start .edge-label {
    margin-top: -42px;
    color: black;
}

.drawflow-node.Start {
    border: 1px solid black;
}


/* .drawflow-node.Start .output {
    margin-top: 45px;
    margin-left: -20px;
}

.drawflow-node.End .input {
    margin-top: -33px;
    margin-left: 26px;
} */

.drawflow-node.End {
    background: black;
}

.drawflow-node.Start,
.drawflow-node.End {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    text-align: center;
    color: white;
}

.drawflow-node.Start .input,
.drawflow-node.End .input {
    background: white;
}

.drawflow-node.Start .output,
.drawflow-node.End .output {
    background: black;
}

/* .drawflow-node.Start.selected,
.drawflow-node.End.selected {
    background: blue;
} */

.drawflow-node.End.selected {
    background: grey;
}


.drawflow .connection .point {
    stroke: var(--border-color);
    stroke-width: 2;
    fill: white;

}

.drawflow .connection .point.selected,
.drawflow .connection .point:hover {
    fill: #4ea9ff;
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);

}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .modal-content {
        width: 80%;
    }
}


/** Task runnig status */

.drawflow-node .title-box div:nth-child(2) {
    background-color: rgba(173, 173, 173, 0.575);
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-top: 13px;
}

.drawflow-node .title-box div.running-status {
    background-color: green;
    -webkit-animation: sk-scaleout .5s infinite ease-in-out;
    animation: sk-scaleout .5s infinite ease-in-out;
}

.drawflow-node .title-box div.failed-status { background-color: red; }

.drawflow-node .title-box div.success-status { background-color: green; }

.drawflow-node .title-box div.pre-success-status {
    background-color: rgba(0, 128, 0, 0.266);
    border: 1px solid green;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(.5)
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 50;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

/** End of Task runnig status */

/** Input connector validation */

.drawflow .drawflow-node .input.blink {
    background-color: red !important;
    -webkit-animation: unlinked-input-scaleout .5s infinite ease-in-out;
    animation: unlinked-input-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes unlinked-input-scaleout {
    0% {
        opacity: 10%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes unlinked-input-scaleout {
    0% {
        opacity: 10%;
    }

    100% {
        opacity: 100%;
    }
}

/** End of Input connector validation */




/** TABS STYLESHEET - TO BE MOVED TO A NATIVE COMPONENT */

.tabset>input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.tabset>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.tabset>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.tabset>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.tabset>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.tabset>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
    display: block;
}

/*
        Styling
        */
body {
    /*font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
        color: #333;
        font-weight: 300;*/
}

.tabset>label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}

/* .tabset > label::after {
        content: "";
        position: absolute;
        left: 15px;
        bottom: 10px;
        width: 22px;
        height: 4px;
        background: #8d8d8d;
        } */

input:focus-visible+label {
    outline: 2px solid rgba(0, 102, 204, 1);
    border-radius: 3px;
}

.tabset>label:hover,
.tabset>input:focus+label,
.tabset>input:checked+label {
    color: #06c;
}

/* .tabset > label:hover::after,
        .tabset > input:focus + label::after,
        .tabset > input:checked + label::after {
        background: #06c;
        } */

.tabset>input:checked+label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
}

/*
        Demo purposes only
        */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/*body {
        padding: 30px;
        }*/

.tabset {
    max-width: 65em;
}

/** END TABS STYLESHEET - TO BE MOVED TO A NATIVE COMPONENT */

.form-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-gray-900);
}

.form-label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-gray-700);
    margin-bottom: 0.5rem;
}

.form-input,
.form-group-input select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-200);
    color: var(--color-gray-900);
    transition: border-color 0.2s, box-shadow 0.2s;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-weight: 500;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: var(--color-gray-600) !important;
    color: var(--color-white) !important;
}

.btn-primary:hover {
    background-color: var(--color-gray-900) !important;
}

.btn-secondary {
    background-color: var(--color-gray-700);
    color: var(--color-gray-300);
}

.btn-secondary:hover {
    background-color: var(--color-gray-600);
}

button[disabled] {
    background: lightgray !important;
}

button[disabled]:hover {
    background: lightgray !important;
}

.menu-added-arrow {
    padding-left: 5px;
    margin-top: -9px;
    font-size: 18px;
    color: #b9b6b6;
}

.logs-minimize-icon,
.agent-minimize-icon {
    margin-top: -15px;
    font-weight: bold;
    font-size: 17px;
    color: white;
    cursor: pointer;
}

.agent-minimize-icon {
    color: black;
    height: 0;
    margin-top: 0px;
    width: 20px;
    margin-left: 7px;
}

/** SQL EDITOR Styling */

.sql-editor-controls {
    padding: 5px;
    display: flex;
    align-items: center;
}

.sql-editor-controls select {
    padding: 1px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
}

.sql-editor-controls .separator { border: .5px solid #c2c1c100; width: 1px; height: 24px; }

.run-query-btn {
    padding: 3px 3px;
    width: 115px;
    background: #00730038;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #00730038;
    width: 86px !important;
    margin-left: 9px;
    display: flex;
    align-items: center;
}

.data-base-fields-submenu .submenu {
    border: 1px solid #80808045;
    height: 50vh;
    overflow: auto;
}

.data-base-fields-submenu .list-item-header { font-weight: normal !important; }

.data-base-fields-submenu .field-type { font-size: 8px; padding-right: 10px; }

/** End of SQL EDITOR Styling */



/** PPline name validation */

#pplineNamePlaceHolder{
    height: 30px;
    margin-top: 5px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 9px;
}

.invalida-ppline-name {
     animation: invalidapplinename 1s infinite;
}

@keyframes invalidapplinename {
    0%, 100% { background-color: white; }
    50% { background-color: #e85a5a9a; }
}

.still-toast .close{ width: 22px; border-radius: 6px; }

.sql-nodata, .sql-error{ font-size: 1.5em; text-align: center; }
.sql-error{ color: red; }

.pipeline-locked{ 
    color: red;
    padding-left: 5px;
    display: block;
    margin-top: -11px;
    line-height: 1;
    margin-left: 10px;
    font-size: 13px;
 }

/** End PPline name validation */