<div class="@cmpInternalId">
	<div class="pipeline-node-type-minimaze" onclick="controller('WorkSpaceController').handleNodeMinimize(this)">_</div>
	<div class="title-box pipeline-node-type-title-box">
		<div style="display: flex; align-items: center;">
			<img src="app/assets/imgs/dlt-logo-colored.png" style="width: 20px; height: 20px;">
			&nbsp;@label
		</div>
		<div class="statusicon">@nodeCount</div>
	</div>
	<st-loader 
		small center
		(showIf)="self.showLoading" 
		topPadding="50"
		(label)="Loading the code..."/>
	
	<form (formRef)="formRef">
		<div class="box" style="padding: 8px;">
			<div onclick="component.openEditor()" style="color: blue; cursor: pointer;">See Code <span class="color: black;">@templateName</span></div>
			<div style="margin-top: 10px;" (showIf)="self.showTemplateList">
				<select (required)="true" (value)="selectedTemplate">
					<option value="">Code template</option>
					<option value="kafka_tmpl">Kafka Consumer</option>
					<option value="kafka_tmpl_sasl">Kafka w\ SASL Auth</option>
					<option value="mongo_tmpl">Mongo DB</option>
				</select>
			</div>
			<span (showIf)="self.showEditor">
				<div
					style="height: 400px; width: 600px; position: absolute; margin-top: 5px; padding-top: 7px; background: rgba(0, 0, 0, 0.856);" 
					class="code-editor-placeholder"></div>
			</span>
		</div>
	</form>
</div>
<style>
</style>