<div class="ai-agent-wrapper"> <!-- New wrapper div -->
	<div class="app-container">
		<h1 class="main-heading">
			AI Agent
		</h1>
		<p class="description-text">
			Type your query regarding your data and pipelines to get the results according <br>(e.g. <i>Show me all data from company.employee table which gender field is Male</i>)
		</p>

		<textarea
			onkeypress="component.sendChatRequest(event)" 
			id="user-input" class="user-input" placeholder="Type your query here..."></textarea>

		<div id="output-container">
			<p id="output-text" class="cursor">Click 'Start Stream' to connect to the backend.</p>
		</div>

		<div class="controls-row">
			<div id="loading-indicator" class="loading-indicator">
				<span>Streaming Data...</span>
			</div>
		</div>

	</div>
</div>