<div class="ai-agent-wrapper">
	<div class="app-container ai-app-container">
		<div class="ai-agent-height-resize" style="margin-top: -16px;"></div>
		<span style="display: flex;">
			<div>
				<div class="agent-minimize-icon" style="margin-top: -2px;" onclick="component.hideAgentUI()">_</div>
				<div class="agent-minimize-icon" style="margin-top: 26px;" onclick="component.shrinkChatSize()">
					<img src="/app/assets/imgs/decrease.svg" style="width: 15px; margin-left: -3px; margin-top: 7px;">
				</div>
			</div>
			<h1 class="main-heading" style="margin-left: 10px;">
				AI Agent
				<span class="add-info">For you Data and Pipelines</span>
			</h1>
			<p class="description-text">
				Type your query regarding your data and pipelines to get the results according <br>(e.g. <i>Show me all data from company.employee table which gender field is Male</i>)
			</p>
			<div class="ai-agent-sent-messages-count">
				<div style="display: flex;" class="ai-agent-sent-messages-count-placehoder">
					<div style="width: 100%; font-size: 13px;">Total messages:&nbsp;</div><div>@sentMessagesCount</div>
				</div>
				<div (showIf)="self.showLimitReachedWarn" class="ai-agent-chat-limit-reached">
					<img width="20" src="/app/assets/imgs/exclamation-triangle-svgrepo-com.svg"/> 
					Today's limit reached
				</div>
			</div>
		</span>

		<textarea
			onkeypress="component.sendChatRequest(event)" 
			id="ai-chat-user-input" class="user-input" placeholder="Type your query here..."></textarea>

		<div id="@outputContainerId" class="output-container pipeline-ai-agent-response"></div>
	</div>
</div>