  <div class="CatalogForm layout"></div>

  <!-- Modal -->
  <div class="CatalogFormModel modal" id="modal">
    <div class="modal-content">
      <div class="modal-header">

        <div (showIf)="self.secretType == 1">
          <h3>Create New Settings</h3>
        </div>

        <div (showIf)="self.secretType == 2">
          <h3>Register New API Settings</h3>
        </div>

        <button class="btn-close" id="closeModal">×</button>
      </div>

      <form (formRef)="formRef">
        <span (showIf)="self.secretType == 1">
            <div class="form-group database-settings-type">
              <label>Type:</label>
              <div>
                <input type="radio" name="dbSettingType" value="1" onclick="component.changeType(this.value)"> Database
                <input type="radio" name="dbSettingType" value="2" onclick="component.changeType(this.value)"> Secrets group
              </div>
            </div>
    
            <div (showIf)="self.showAddSecrete">
              <button type="button" onclick="component.addSecreteGroup()" class="btn btn-add-secret">
                <img src="app/assets/imgs/key-management-service-svgrepo-com.svg" width="20" alt="">
                Add secret field
              </button>
            </div>
    
            <span (showIf)="self.dataBaseSettingType==2">

              <div class="modal-body catalog-form-secret-group">
          
                <div class="form-group">
                  <label>Secret Key/Name</label>
                  <input (value)="firstKey" class="secret-field" type="text" placeholder="e.g. DB_PASSWORD">
                </div>
                <div class="form-group">
                  <label>Secret value</label>
                  <span class="hidden-secret-value initial-secret-field">
                    <input (value)="firstValue" type="password" placeholder="Enter the secret value">
                    <img src="app/assets/imgs/view-svgrepo-com.svg" onclick="component.viewSecretValue('initial')">
                  </span>
                </div>
          
              </div>
            </span>
    
            <span (showIf)="self.dataBaseSettingType==1">
              <div class="modal-body catalog-form-db-fields">
          
                <div class="form-group required-db-field">
                  <label>Connection Name</label>
                  <input class="db-connection-name" type="text" (value)="connectionName" placeholder="Name of connection">
                </div>
    
                <div class="form-group required-db-field">
                  <label>DB Engine</label>
                  <select (value)="dbEngine">
                    <option value="">SELECT DB Engine</option>
                    <option value="postgresql-database-plugin">PostgreSQL</option>
                    <option value="mssql-database-plugin">SQL Server</option>
                    <option value="mysql-database-plugin">MySQL</option>
                    <option value="oracle-database-plugin">Oracle</option>
                  </select>
                </div>
                
                <div class="form-group required-db-field">
                  <label>Host</label>
                  <input type="text" (value)="dbHost" placeholder="db.example.com">
                </div>
                <div class="form-group required-db-field">
                  <table>
                    <tr>
                      <td><label>Port</label></td>
                      <td>
                        <label style="display: flex;">
                          Params&nbsp;
                          <span (showIf)="self.showServiceNameLbl" data="get-oracle-dn-btn">
                            <div>
                              <span (showIf)="!self.showServiceNameLbl">
                                <div class="mini-loader-container oracle-dn-loader">
                                  <div class="mini-loader-dot"></div>
                                  <div class="mini-loader-dot"></div>
                                  <div class="mini-loader-dot"></div>
                                </div>
                              </span>

                              <span (showIf)="self.showServiceNameLbl">
                              - <span style="color: blue; font-weight: bold; cursor: pointer; font-size: 12px;">
                                Get Oracle DN <input type="checkbox" onclick="component.getOracleDN()">
                                </span>
                              </span>
                            </div>
                          </span>
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td><input type="number" style="width: 70px;" (value)="dbPort" value="5432"></td>
                      <td>
                        <input 
                            style="width: 208px; font-size: 14px;"
                            (value)="dbConnectionParams"
                            placeholder="e.g. ssl_ca=/etc/mysql/ca.pem"
                            class="no-required db-connection-params">
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="form-group required-db-field">
                  <label (showIf)="!self.showServiceNameLbl">Database Name</label>
                  <label (showIf)="self.showServiceNameLbl">Service Name</label>
                  <input (value)="dbName" type="text" placeholder="e.g. sales">
                </div>
                <div class="form-group">
                  <label>Database user</label>
                  <input (value)="dbUser" type="text" placeholder="e.g. dbreaduser">
                </div>

                <div class="form-group" (showIf)="self.showKeyFileFields">
                  <label>
                    Auth files
                    <input type="checkbox" onclick="component.showHideWalletFields(this.checked)">
                  </label>
                  <input class="oracle-wallet-element no-required" (value)="walletFile" style="height: 33px; padding: 4px; display: none;" type="file">
                </div>
                <div class="form-group" (showIf)="self.showKeyFileFields">
                  <label class="oracle-wallet-element no-required" style="display: none;">Passphrase</label>
                  <input class="oracle-wallet-element no-required" style="display: none;" (value)="walletPassword" type="password">
                </div>
    
                <div style="margin-top: 8px; font-weight: bold;">SECRETS</div>
                <div></div>
                <!--
                <div class="form-group">
                  <label>Username Env Var</label>
                  <input type="text" placeholder="USER_DB_USERNAME">
                </div>
                <div class="form-group">
                  <label>Password Env Var</label>
                  <input type="text" placeholder="USER_DB_PASSWORD">
                </div>
                -->
              </div>
            </span>
        </span>

        <span (showIf)="self.secretType == 2">
            <span class="catalog-form-secret-api">

              <div class="modal-body">
                <div>
                  <label>Unique name</label>
                  <div style="margin-top: 5px;">
                    <input (value)="apiConnName" data="unique-api-name" class="unique-api-name api-required-field" type="text" placeholder="e.g. Inventory API">
                  </div>
                </div>
                <div>
                  <label>Base Url</label>
                  <div style="margin-top: 5px;">
                    <input (value)="apiBaseUrl" class="unique-api-url api-required-field" type="text" placeholder="e.g. https://api.mycompany.com">
                  </div>
                </div>
              </div>

              <div style="padding-top: 15px;">
                <label>API Settings - <b>@endpointCounter</b> Endpoint(s)</label>
                <div (showIf)="self.hideCodeEditor">
                  <div id="@editorId" style="height: 150px; margin-top: 11px;"></div>
                </div>
              </div>

              <div class="endpoint-group-config">
                <fieldset>
                  <legend>Endpoint 1 <span style="font-weight: normal;">@fullEndpointPath</span></legend>
                    <div class="endpoint-data-setting">
                      <div class="form-group use-pagination-field">
                        <label>
                          Path 
                          (<span class="add-api-param-btn" onclick="component.showEditor('1')">+ Params</span>)
                        </label>
                        <input type="text" class="endpoint-input api-required-field" (value)="apiEndpointPath1" placeholder="e.g. /transaction/paginate">
                      </div>
      
                      <div class="form-group use-pagination-field">
                        <label>Data Selector</label>
                        <input type="text" (value)="apiEndpointDS1" placeholder="e.g. result">
                      </div>
      
                      <div class="form-group use-pagination-field">
                        <label>Primary key</label>
                        <input type="text" class="endpoint-pk-input" (value)="apiEndpointPathPK1" placeholder="e.g. transactionId">
                      </div>

                      <div class="form-group use-pagination-check">
                        <label>Use pagination</label>
                        <div class="use-pagination-check-group">
                          <input type="radio" onclick="component.showPaginateEndpoint()" name="userPagination1"> Yes
                          <input type="radio" onclick="component.hidePaginateEndpoint()" name="userPagination1" checked> No
                        </div>
                      </div>
                    </div>
    
                    <div class="endpoint-paginate-setting endpointFieldGrp1" style="display: none;">

                      <span style="display: flex;">
                        <div class="form-group use-pagination-field">
                          <label>Offset field name</label>
                          <input class="endpointField1" type="text" (value)="paginationStartField1" placeholder="e.g. offset">
                        </div>
        
                        <div class="form-group use-pagination-field">
                          <label>Limit field name</label>
                          <input class="endpointField1" type="text" (value)="paginationLimitField1" placeholder="e.g. limit">
                        </div>
        
                        <div class="form-group use-pagination-field">
                          <label>Records per page</label>
                          <input class="endpointField1" type="text" (value)="paginationRecPerPage1" placeholder="e.g. 1000">
                        </div>
                      </span>

                    </div>
                    
                    <div class="api-code-editor-placeholder1"></div>
                </fieldset>
              </div>

              <div>
                <button style="margin-top: 5px;" class="add-btn-primary" (click)="addEndpointFields()">+ Endpoint</button>
              </div>

              <div class="modal-body">

                <!-- Pagination fields -->
                <div class="form-group">
                  <div class="use-authentication-check-group">
                    <label class="bold-lbl">Use Authentication</label>
                    <input type="checkbox" class="use-auth-checkbox" onclick="component.setUseAuth(this.checked)">

                    <select style="width: 100%; display: none; margin-top: 9px;" class="use-auth-secret-input" onchange="component.onAPIAuthChange(this.value)">
                      <option value="">Select Auth type</option>
                      <option value="bearer-token">Bearer Token</option>
                      <option value="api-key">API Key</option>
                    </select>

                  </div>
                </div>
                <div><!-- Only to create an empy colum --></div>
                <!-- End Pagination fields -->

                <!-- API Key fields -->
                <div class="form-group">
                  <label class="api-key-lbl">KEY Header name</label>
                  <input type="text" (value)="apiKeyName" class="api-key-name api-key-field" placeholder="e.g. X-API-Ket">
                </div>
                <div class="form-group">
                  <label class="api-key-lbl">Key Hader value</label>
                  <span class="hidden-secret-value initial-secret-field hidden-secret-value-api">
                    <input type="password" (value)="apiKeyValue" class="api-key-value api-key-field" placeholder="Enter the secret value">
                    <img src="app/assets/imgs/view-svgrepo-com.svg" onclick="component.viewSecretValue('hidden-secret-value-api')">
                  </span>
                </div>
                <!-- END API Key fields -->

                <!-- API Token fields -->
                <div class="form-group">
                  <label class="api-tkn-lbl">API token name</label>
                  <input type="text" value="API_TOKEN" disabled class="api-tkn-name api-tkn-field">
                </div>
                <div class="form-group">
                  <label class="api-tkn-lbl">API token value</label>
                  <span class="hidden-secret-value initial-secret-field hidden-tkn-secret-value-api">
                    <input type="password" (value)="apiTknValue" class="api-tkn-value api-tkn-field" placeholder="Enter the secret value">
                    <img src="app/assets/imgs/view-svgrepo-com.svg" onclick="component.viewSecretValue('hidden-tkn-secret-value-api')">
                  </span>
                </div>
                <!-- END API Token fields -->

              </div>
            </span>
        </span>
        

        <div class="modal-footer">
          <div class="buttons-wrapper">
            <button 
              type="button" 
              onclick="component.testConnection()" 
              class="btn btn-light-blue save-secret-btn">
                @if(this.checkConnection == 'in-progress')
                  <div class="mini-loader-container oracle-dn-loader">
                    <div class="mini-loader-dot"></div>
                    <div class="mini-loader-dot"></div>
                    <div class="mini-loader-dot"></div>
                  </div>
                @endif
                Test connection
              <div 
                class="connectio-test-status"
                style="float: right; background: rgb(182, 182, 182); width: 16px; height: 16px; border-radius: 100%; border: 1.5px solid;">
                &nbsp;
              </div>
            </button>
            <button 
              type="button" 
              onclick="component.createSecret()" 
              class="btn btn-primary save-secret-btn">Save</button>
          </div>
          <div class="APITestResponse"></div>
        </div>
      </form>
    </div>
  </div>

  <style>
    span[data="get-oracle-dn-btn"] { float: left; margin-top: 0;  }
    .oracle-dn-loader {
        display: flex; width: 29px; margin-top: 0; padding: 0; margin-left: 10px; float: right; margin-top: 0;
        .mini-loader-dot { background-color: white; width: 12px; height: 9px; }
    }

    .add-api-param-btn { color: blue; text-decoration: underline; cursor: pointer; }

    .endpoint-group-config{
      /* box-shadow: inset 0 10px 8px -10px rgba(0, 0, 0, 0.5), inset 0 -10px 8px -10px rgba(0, 0, 0, 0.5); */
      max-height: 45vh; overflow-x: scroll;
    }

    .use-pagination-check{ 
      margin-left: 10px; 
      label { width: 100px; margin-top: 21px; }
    }
    .use-pagination-check-group{ 
      display: flex;
      width: 93px;
      font-size: 12px;
    }

    .del-endpoint-setting-icon{
      width: 78px;
      text-align: center;
      font-size: 10px;
      color: red;
      cursor: pointer;
      font-weight: bold;
      float: right;
    }
    fieldset { margin-top: 15px; border-radius: 3px; padding-bottom: 4px; }
    fieldset label { margin-top: 3px; }
    fieldset input { width: 100px; }
    fieldset legend { margin-left: 8px; font-size: 14px; font-weight: bold; }

    .use-pagination-field { margin-left: 5px; }
    .endpoint-input { width: 190px; }
    .endpoint-pk-input { width: 130px; }
   .endpoint-data-setting, .endpoint-paginate-setting{ display: flex; margin: 5px; }
   .endpoint-paginate-setting input{ width: 150px; }

  .bold-lbl { font-weight: bold; }
  .unique-api-name, .unique-api-url{ width: 100%; }
  .api-setting-content{ margin-top: 4px; width: 100%; }

	.hidden-secret-value{
		display: flex;
    align-items: center;
		input{ width: 92%; };
		img{ margin-left: .2em; width: 1.3em; cursor: pointer; };
    span {
      font-size: 11px;
      padding-left: 5px;
      font-weight: bold;
      color: red;
      cursor: pointer;
    }
	}

  .secret-field{ text-transform: uppercase; }

	.btn-add-secret {
		width: 30% !important;
		display: flex !important;
		align-items: center !important;
		margin-top: 10px !important;
		height: 31px !important;
		background: #1f2937db !important;
		color: white !important;
	}

	.database-settings-type { flex-direction: row !important; }
	.database-settings-type input { margin-left: 1em; }

    /* Layout */
    .CatalogForm {
      	display: flex;
      	min-height: 100vh;

      	margin: 0;
      	font-family: Arial, sans-serif;
      	background-color: #f5f6fa;
      	color: #333;

		z-index: -2;
		position: absolute;

		/** position: absolute;
		width: 100%;
		z-index: 10;
		border: 1px solid;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0; */
    }

    /* Main content */
    .CatalogForm .content {
      flex-grow: 1;
      padding: 20px;
    }

    .CatalogForm .content-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    .CatalogForm .btn {
      padding: 10px 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 0.9rem;
    }

    /* Table */
    .CatalogForm table {
      width: 100%;
      border-collapse: collapse;
      background: white;
      border-radius: 6px;
      overflow: hidden;
    }

    .CatalogForm th,
    .CatalogForm td {
      padding: 12px 16px;
      text-align: left;
      border-bottom: 1px solid #e2e8f0;
    }

    .CatalogForm th {
      background-color: #f1f5f9;
      font-weight: bold;
    }

    .CatalogForm tr:hover {
      background-color: #f9fafb;
    }

    /* Modal */
    .CatalogFormModel {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }

    .CatalogFormModel .modal-content {
      background: #fff;
      border-radius: 6px;
      width: 600px;
      padding: 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .CatalogFormModel .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    .CatalogFormModel .modal-header h3 {
      margin: 0;
    }

    .CatalogFormModel .modal-body {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 12px;
	  margin-top: 20px;
    }

    .CatalogFormModel .form-group {
      display: flex;
      flex-direction: column;
    }

    .CatalogFormModel label {
      font-size: 0.9rem;
      margin-bottom: 4px;
      color: #374151;
    }

    .CatalogFormModel input,
    .CatalogFormModel select {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 0.9rem;
    }

    .CatalogFormModel .modal-footer .buttons-wrapper {
      margin-top: 16px;
      text-align: right;
	  display: flex;
	  justify-content: space-between;
    }

    .CatalogFormModel .btn-close {
      background: #ef4444;
      border: none;
      color: #fff;
      padding: 8px 12px;
      border-radius: 4px;
      cursor: pointer;
    }

    .CatalogFormModel .btn-close:hover {
      background: #dc2626;
    }
  </style>