version: "3.9"

services:
  vault:
    image: hashicorp/vault:latest
    container_name: vault
    restart: unless-stopped

    ports:
      - "8200:8200"

    environment:
      VAULT_DEV_ROOT_TOKEN_ID: root
      VAULT_DEV_LISTEN_ADDRESS: "0.0.0.0:8200"
      VAULT_ADDR: "http://127.0.0.1:8200"

    cap_add:
      - IPC_LOCK

    command: vault server -dev

    healthcheck:
      test: ["CMD", "vault", "status", "-address=http://127.0.0.1:8200"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  default:
    name: vault_network