<div>
	<div id="drawflowContainer">

		<header>
			<h2>Workspace</h2>
		</header>
		<div class="wrapper">
			<div class="col" id="still-adj-left-panel">
				<div class="tabset">
					<input type="radio" name="tabset" id="tab1" aria-controls="data-panel">
					<label for="tab1" onclick="component.showHideEditor()">Data</label>
					
					<input type="radio" name="tabset" id="tab2" aria-controls="draw-diagram-tab" checked>
					<label for="tab2" onclick="component.runPythonCode()">Diagram</label>			
					<div class="tab-panels">
						<section id="data-panel" class="tab-panel">
							<h2>Data from Duck db will be shown here</h2>
						</section>
						<section id="draw-diagram-tab" class="tab-panel">
							<span (forEach)="objectTypes">
								<st-element component="ObjectType" each="item"></st-element>
							</span>
						</section>
					</div>
				</div>
			</div>

			<st-divider type="horizontal" (onResize)="verticalChecking()"/>

			<div class="col-right" id="still-adj-right-panel">
				<div class="menu">
					<ul>
						<li onclick="controller.changeModule('Home'); controller.changeModule(event);" class="selected">
							<div onkeypress="component.onPplineNameKeyPress(event)" contenteditable="true">
								@activeGrid
							</div>
						</li>
						<li onclick="controller.changeModule('Other'); controller.changeModule(event);">Space 2
						</li>
					</ul>
				</div>
				<div id="drawflow" ondrop="controller.drop(event)" ondragover="controller.allowDrop(event)">

					<div class="btn-export" onclick="component.savePipeline()">
						<i class="fa fa-save"></i> Save
					</div>
					<div class="btn-clear" onclick="component.editor.clearModuleSelected()">Clear</div>
					<div class="btn-lock">
						<i id="lock" class="fas fa-lock"
							onclick="component.editor.editor_mode='fixed'; controller.changeMode('lock');"></i>
						<i id="unlock" class="fas fa-lock-open"
							onclick="component.editor.editor_mode='edit'; controller.changeMode('unlock');"
							style="display:none;"></i>
					</div>
					<div class="bar-zoom">
						<i class="fas fa-search-minus" onclick="component.editor.zoom_out()"></i>
						<i class="fas fa-search" onclick="component.editor.zoom_reset()"></i>
						<i class="fas fa-search-plus" onclick="component.editor.zoom_in()"></i>
					</div>
				</div>
				<st-divider 
					type="vertical" 
					label="&nbsp;&lt;&#47;&gt; Code eitor" 
					(onResize)="onSplitterMove(params)"
					minHeight="65"
					maxHeight="500"
				/>
				<div style="display: contents;">
					<st-element 
						proxy="cmProxy" 
						editorHeight="160"
						startHeight="35"
						component="@codemirror/CodeMiror">
					</st-element>
				</div>
				<st-element 
					proxy="terminalProxy"
					(onRun)="runCode()"
					component="Terminal"></st-element>
			</div>
		</div>
	</div>
</div>

<style>
	.wrapper .divider {
		height: 25px;
		padding-top: 2px;
		padding-bottom: 2px;
		font-size: 14px;
		color: rgb(86, 84, 84);
	}

	.wrapper .divider .label {
		cursor: pointer;
	}
</style>