<div class="@cmpInternalId">
	<div class="title-box">
		<div>
			<i class="fab fa-bitbucket "></i>
			@label
		</div>
		<div class="statusicon"></div>
	</div>
	<st-loader 
		small center
		(showIf)="self.showLoading" 
		topPadding="50"
		(label)="Loading..."/>
	
	<div class="box @formWrapClass">
		<div style="visibility: hidden;">@bucketUrl</div>
		<span (showIf)="!self.showLoading">
			<form (formRef)="formRef" onsubmit="return false;">
				<select (value)="bucketFileSource">
					<option value="1">From DLT Client Folder</option>
					<option value="2">Cloud URL</option>
				</select>
	
				<div (showIf)="self.showBucketUrlInput == 2">
					<p>Enter Bucket url:</p>
					<input type="text" (required)="true" (value)="bucketUrl" placeholder="Basket/Folder URL">
				</div>
	
				<p>File pattern:</p>
				<span (showIf)="self.showBucketUrlInput == 1">
					<div style="display: flex;">
						<select (forEach)="filesFromList" (required)="true" (value)="selectedFilePattern" class="selected-file-pattern-inpt-@formWrapClass" placeholder="Select a file">
							<option each="item" value="{item.name}">{item.name}</option>
						</select>
	
						<div class="resizable-spinner-wrap" (showIf)="self.showMoreFileOptions==2">
							<div class="container">
								<div class="spinner" id="spinner"></div>
							</div>
						</div>
	
						<img (showIf)="self.showMoreFileOptions"
							onclick="component.setMoreOptionsMenu(event, '@formWrapClass')"
							style="margin-right: -17px; padding-left: 3px; width: 15px; cursor: pointer;"
							src="app/assets/imgs/file-list/dots.svg" width="12">
	
						<div class="stpopup-right-side popup-right-sede-@formWrapClass">
							<button class="close-btn" onclick="component.hidePopup('@formWrapClass')">&times;</button>
							<div class="ds-fields-wrapper" style="padding: 0; width: 100%; padding-top: 0px; margin: 0;">
								<div class="container">
									<div class="header">Table Fields</div>
									<div class="fields-@formWrapClass"
										style="overflow-y: auto; height: 160px; overflow-y: auto; box-shadow: 1px 2px 5px rgb(0 0 0 / 19%) inset;">
									</div>
									<button class="add-btn"
										onclick="component.addFieldInDataSource('fields-@formWrapClass')">+ Add
										Field</button>
								</div>
							</div>
						</div>
					</div>
	
				</span>
	
				<span (showIf)="self.showBucketUrlInput == 2">
					<input type="text" (value)="filePattern" class="file-pattern-inpt-@formWrapClass" placeholder="Ex: transactions*.csv">
				</span>
	
			</form>
		</span>
	</div>
</div>