<div class="@cmpInternalId">
	<div class="title-box">
		<div>
			<i class="fab fa-bitbucket "></i>
			@label
		</div>
		<div class="statusicon"></div>
	</div>
	<div class="box">
		<div>@bucketUrl</div>
		<form (formRef)="formRef" onsubmit="return false;">
			<select (value)="bucketFileSource">
				<option value="1">From DLT Client Folder</option>
				<option value="2">Cloud URL</option>
			</select>

			<div (showIf)="self.showBucketUrlInput == 2">
				<p>Enter Bucket url:</p>
				<input type="text" (required)="true" (value)="bucketUrl" placeholder="Basket/Folder URL">
			</div>
			
			<p>File pattern:</p>
			<input type="text" (required)="true" (value)="filePattern" placeholder="Ex: transactions*.csv">
		</form>
	</div>
</div>