<div class="@cmpInternalId">
	<div class="title-box">
		<div>
			<img src="app/assets/imgs/duckdb-icon.svg" width="20">
			@label
		</div>
		<div class="statusicon"></div>
	</div>
	<div class="box @formWrapClass">
		<form (formRef)="formRef" onsubmit="return false;">
			<p>Database:</p>
			<input type="text" (required)="true" (value)="database" placeholder="Enter the DB name">
			<p>Table name:</p>
			<input type="text" (required)="true" (value)="tableName" placeholder="Enter table name">
		</form>
	</div>
</div>