<div class="@cmpInternalId" style="z-index: 1;">
	<div class="pipeline-node-type-minimaze" onclick="controller('WorkSpaceController').handleNodeMinimize(this)">_</div>
	<div class="title-box pipeline-node-type-title-box">
		<div>
			<img src="app/assets/imgs/duckdb-icon.svg" width="20">
			@label
		</div>
		<div class="statusicon">@nodeCount</div>
	</div>
	<div class="box @formWrapClass">
		<form (formRef)="formRef" onsubmit="return false;">
			<p>Database:</p>
			<input type="text" (required)="true" (value)="database" placeholder="Enter the DB name">
			<p>Table name:</p>
			<input type="text" (value)="tableName" placeholder="Enter table name">
		</form>
	</div>
</div>
<style>
	.parent-node .DuckDBOutput { z-index: 1; }
</style>