<div class="@cmpInternalId">
	<div class="title-box">
		<div>
			<img src="app/assets/imgs/sql-server-2.png" width="20">
			@label
		</div>
		<div class="statusicon"></div>
	</div>
	<div class="box">
		<form (formRef)="formRef" onsubmit="return false;">
			<p>Database:</p>
			<input type="text" (required)="true" (value)="database" placeholder="Enter the DB name">
			<p>Table name 1:</p>
			<input type="text" (value)="tableName" placeholder="Enter table name">
		</form>
		<button onclick="component.addField()">Add field</button>
		<button onclick="component.validate()">Validate</button>
		<!--
			<form (formRef)="anotherForm" onsubmit="return false;">
				<p>Another Database:</p>
				<input type="text" (required)="true" (value)="database1" placeholder="Enter the DB name">
				<p>Another Table name 1:</p>
				<input type="text" (value)="tableName1" placeholder="Enter table name">
			</form>
			<button onclick="component.validate()">Validate1</button>
			<button onclick="component.validate1()">Validat2</button>
		-->
	</div>
</div>