<div class="@cmpInternalId" style="z-index: 1;">
	<div class="pipeline-node-type-minimaze" onclick="controller('WorkSpaceController').handleNodeMinimize(this, '200px')">_</div>
	<div class="title-box pipeline-node-type-title-box">
		<div>
			<i class="fas fa-cogs"></i>
			Transformation
		</div>
		<div class="statusicon">@nodeCount</div>
	</div>
	<div class="box">
		
		<st-loader 
			small center
			(showIf)="self.showLoading" 
			topPadding="50"
			(label)="Parsing Rules..."/>

		<span (showIf)="!self.showLoading">
			<table class="transform-container-@uniqueId transform-container">
				<tr>
					<td></td>
					<td>Source</td>
					<td>Field</td>
					<td>Transf. type</td>
					<td>Output expected</td>
				</tr>
			</table>
			<div style="margin: 3px 8px;">
				<button style="margin-left: 18px;" class="add-btn-primary" (click)="addNewField()">+ Transformation</button>
				<button style="margin-left: 18px;" class="e2e-btn-secondary" (click)="getTransformationPreview()">
					<img src="app/assets/imgs/magnifier.svg" style="float: left; width: 16px;"> &nbsp;Preview Result
				</button>
				<button style="margin-left: 18px;" (click)="parseTransformationCode()">&nbsp; Parse code &nbsp;</button>
			</div>
		</span>

		<div class="transform-preview-datatable-wrap">
			<table border="1" width="100" class="transform-preview-datatable">
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Age</td>
					<td>Country</td>
					<td>Profession</td>
					<td>Skills</td>
					<td>Role</td>
					<td>Repartment</td>
					<td>Origin</td>
					<td>Nacionality</td>
				</tr>
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Age</td>
					<td>Country</td>
					<td>Profession</td>
					<td>Skills</td>
					<td>Role</td>
					<td>Repartment</td>
					<td>Origin</td>
					<td>Nacionality</td>
				</tr>
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Age</td>
					<td>Country</td>
					<td>Profession</td>
					<td>Skills</td>
					<td>Role</td>
					<td>Repartment</td>
					<td>Origin</td>
					<td>Nacionality</td>
				</tr>
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Age</td>
					<td>Country</td>
					<td>Profession</td>
					<td>Skills</td>
					<td>Role</td>
					<td>Repartment</td>
					<td>Origin</td>
					<td>Nacionality</td>
				</tr>
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Age</td>
					<td>Country</td>
					<td>Profession</td>
					<td>Skills</td>
					<td>Role</td>
					<td>Repartment</td>
					<td>Origin</td>
					<td>Nacionality</td>
				</tr>
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Age</td>
					<td>Country</td>
					<td>Profession</td>
					<td>Skills</td>
					<td>Role</td>
					<td>Repartment</td>
					<td>Origin</td>
					<td>Nacionality</td>
				</tr>
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Age</td>
					<td>Country</td>
					<td>Profession</td>
					<td>Skills</td>
					<td>Role</td>
					<td>Repartment</td>
					<td>Origin</td>
					<td>Nacionality</td>
				</tr>
				<tr>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Age</td>
					<td>Country</td>
					<td>Profession</td>
					<td>Skills</td>
					<td>Role</td>
					<td>Repartment</td>
					<td>Origin</td>
					<td>Nacionality</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<style>
	.parent-node .Transformation { width: 600px; z-index: 1; }

	.parent-node .Transformation .title-box{
		display: flex; justify-content: space-between; padding-right: 9px;
	}

	.transform-preview-datatable-wrap {
		overflow: auto; width: 100%; padding: 5px;
		.transform-preview-datatable {
			min-width: 100%; td{ padding: 2px 5px; font-size: 11.7px; min-width: 6em; }
		}
	}
</style>