<div class="@cmpInternalId">
	<div class="title-box">
		<div>
			<i class="fas fa-cogs"></i>
			Transformation
		</div>
		<div class="statusicon"></div>
	</div>
	<div class="box">
		
		<st-loader 
			small center
			(showIf)="self.showLoading" 
			topPadding="50"
			(label)="Parsing Rules..."/>

		<span (showIf)="!self.showLoading">
			<table class="transform-container-@uniqueId transform-container">
				<tr>
					<td></td>
					<td>Source</td>
					<td>Field</td>
					<td>Transf. type</td>
					<td>Output expected</td>
				</tr>
			</table>
			<div style="margin: 3px 8px;">
				<button style="margin-left: 18px;" (click)="addNewField()">&nbsp; + Existing field &nbsp;</button>
				<button style="margin-left: 18px;" (click)="parseTransformationCode()">&nbsp; Parse code &nbsp;</button>
			</div>
		</span>
	</div>
</div>
<style>
	.parent-node .Transformation { width: 600px; }

	.parent-node .Transformation .title-box{
		display: flex; justify-content: space-between; padding-right: 9px;
	}
</style>