<body class="left-menu-tabs">
    <input type="checkbox" id="nav-toggle">

    <input type="radio" id="tab-outputs" name="content-tabs">
    <input type="radio" id="tab-data-source" name="content-tabs">
    <input type="radio" id="tab-diagram" name="content-tabs" checked>
    <input type="radio" id="tab-script-ppline" name="content-tabs">
    <input type="radio" id="tab-data-files" name="content-tabs">
    <input type="radio" id="tab-api-catalog" name="content-tabs">
    <input type="radio" id="tab-logs" name="content-tabs">
    <input type="radio" id="tab-ai" name="content-tabs">

    <div class="app-container">
        <div class="sidebar-container">

            <label for="nav-toggle" class="sidebar-toggle">☰</label>

            <ul class="sidebar-menu">
                <li class="left-menu-item" data-tooltip="Outputs">
                    <label for="tab-outputs" data-progress="init" onclick="component.showHideDatabase(this)">
                        <span class="icon">
                            <img src="app/assets/imgs/left-menu/tables.svg" width="23" alt="">
                        </span>
                        <span 
                            style="letter-spacing: 0px; font-size: 15px; margin-left: -7px;"
                            class="text">DLT Pipelines Outputs</span>
                    </label>
                </li>

                <li class="left-menu-item" 
                    onclick="component.selectTab('content-ppline-script')">
                    <label for="tab-script-ppline">
                        <span class="icon">
                            <img src="app/assets/imgs/left-menu/dlt-logo.png" width="28" alt="">
                        </span>
                        <span class="text">Pipeline Scripts</span>
                    </label>
                </li>

                <li class="left-menu-item" onclick="component.selectTab('content-data-source')">
                    <label for="tab-data-source">
                        <span class="icon">
                            <img src="app/assets/imgs/left-menu/db-white.svg" width="23" alt="">
                        </span>
                        <span class="text">Data Source</span>
                    </label>
                </li>
                <li class="left-menu-item" id="dataFilesLeftMenu" style="min-width: 250px;"
                    onclick="component.selectTab('content-data-files')">
                    <label for="tab-data-files">
                        <span class="icon">
                            <img src="app/assets/imgs/left-menu/files.svg" width="30" alt="">
                        </span>
                        <span class="text">Data Files</span>
                    </label>
                </li>
                <li class="left-menu-item" onclick="component.selectTab('content-api-catalog')">
                    <label for="tab-api-catalog">
                        <span class="icon">
                            <img src="app/assets/imgs/left-menu/api.png" width="25" alt="">
                        </span>
                        <span class="text">API Catalog</span>
                    </label>
                </li>
                <li class="left-menu-item" onclick="component.selectTab('content-diagram')">
                    <label for="tab-diagram">
                        <span class="icon">
                            <img src="app/assets/imgs/left-menu/flow-modeler.svg" width="23" alt="">
                        </span>
                        <span class="text">Diagram</span>
                    </label>
                </li>

                <!-- <li class="left-menu-item" onclick="component.selectTab('content-logs')">
                    <label for="tab-logs">
                        <span class="icon">
                            <img src="app/assets/imgs/left-menu/logs.svg" width="23" alt="">
                        </span>
                        <span class="text">Logs</span>
                    </label>
                </li> -->
                <li class="left-menu-item" onclick="component.startAIAssistant()">
                    <label for="tab-ai">
                        <span class="icon">
                            <img src="app/assets/imgs/left-menu/ai.svg" width="23" alt="">
                        </span>
                        <span class="text">AI Agent</span>
                    </label>
                </li>
            </ul>
        </div>

        <div class="content">

            <div class="content-panel content-outputs">
                <h3>Pipeline Loaded data</h3>
                <section id="data-panel" class="tab-panel data-panel">
                    <div style="text-align: center; font-size: 1.3em; width: 96%; color: #da5353;">
                        @dataFetchilgLabel
                    </div>
                    <st-element showBullets="false" component="@treeview/StillTreeView" tooltipXPos="10"
                        (onRefreshClick)="refreshTree()" showRefresh="false" tooltipText="Update tree data"
                        proxy="dbTreeviewProxy">
                    </st-element>
                </section>
            </div>

            <div class="content-panel content-data-source">
                <h3>Database Catalog</h3>
                <!-- <div class="under-contruction-feature">
                    <img src="@underContructionImg">
                    Feature under construction
                    <div class="feature-about">
                        (DB connections to serve as DLT source)
                    </div>
                </div> -->
                <div class="catalog-db-addnew" onclick="component.openSecretForm()">
                    <img src="app/assets/imgs/left-menu/add-database.svg" width="20" height="20"> &nbsp;New DB settings
                </div>

                <span (showIf)="self.showLoading == 1">
                    <div class="fetching-db-loader">
                        <div class="mini-loader-container db-secrets-loader">
                            <div class="mini-loader-dot"></div>
                            <div class="mini-loader-dot"></div>
                            <div class="mini-loader-dot"></div>
                        </div>
                        Fetching DB secrets...
                    </div>
                </span>

                <span (showIf)="!self.showLoading">
                    @if(this.dbSecretsList.length == 0)
                        <div class="fetching-db-loader">No secret found</div>
                    @endif
                    <ul class="database-catalog-list" (forEach)="dbSecretsList">
                        <li each="item">
                            <div class="database-name">
                                <span>{item.name}</span>
                                <span class="edit-datasource" onclick="component.openSecretForm('{item.name}', 'db')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" viewBox="0 0 16 16">
                                        <path d="M12.146.854a.5.5 0 0 1 .708 0l2.292 2.292a.5.5 0 0 1 0 .708l-9.439 9.439-2.853.571a.5.5 0 0 1-.588-.588l.571-2.853 9.439-9.439zM11.207 2L3 10.207V11h.793L13 2.793 11.207 2z"/>
                                    </svg>
                                </span>
                            </div>
                            <div class="host">{item.host}</div>
                        </li>
                    </ul>
                </span>
            </div>

            <div class="content-panel content-diagram" style="border-left: 1px;">
                <h3>Pipeline Design</h3>
                <section id="draw-diagram-tab" style="border-left: 1px solid lightgray; height: 100vh;" class="tab-panel">
                    <span (forEach)="objectTypes">
                        <st-element component="ObjectType" each="item"></st-element>
                    </span>
                </section>
            </div>

            <div class="content-panel content-data-files">
                <h3>Your Data Files</h3>

                <section style="height: 70px;">
                    <st-element component="FileUpload" proxy="fileUploadProxy"></st-element>
                </section>
                
                <st-element 
                    component="FileList" 
                    isOpenInEditor="false"
                    (openInEditor)="openDataFileOnEditor()" 
                    proxy="fileListProxy"></st-element>

            </div>

            <div class="content-panel content-api-catalog">
                <h3>API Catalog</h3>
                <!-- <div class="under-contruction-feature">
                    <img src="@underContructionImg">
                    Feature under construction
                    <div class="feature-about">
                        (To hold your APIs to serve as DLT source)
                    </div>
                </div> -->

                <div class="catalog-db-addnew" onclick="component.openSecretForm()">
                    <img src="app/assets/imgs/left-menu/api-cat-icon.png" width="20" height="20"> &nbsp;New API settings
                </div>

                <span (showIf)="self.showLoading == 2">
                    <div class="fetching-db-loader">
                        <div class="mini-loader-container db-secrets-loader">
                            <div class="mini-loader-dot"></div>
                            <div class="mini-loader-dot"></div>
                            <div class="mini-loader-dot"></div>
                        </div>
                        Fetching API secrets...
                    </div>
                </span>

                <span (showIf)="!self.showLoading">
                    @if(this.apiSecretsList.length == 0)
                        <div class="fetching-db-loader">No secret found</div>
                    @endif
                    <ul class="database-catalog-list" (forEach)="apiSecretsList">
                        <li each="item">
                            <div class="database-name">
                                <span>{item.name}</span>
                                <span class="edit-datasource" onclick="component.openSecretForm('{item.name}', 'api')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" viewBox="0 0 16 16">
                                        <path d="M12.146.854a.5.5 0 0 1 .708 0l2.292 2.292a.5.5 0 0 1 0 .708l-9.439 9.439-2.853.571a.5.5 0 0 1-.588-.588l.571-2.853 9.439-9.439zM11.207 2L3 10.207V11h.793L13 2.793 11.207 2z"/>
                                    </svg>
                                </span>
                            </div>
                            <div class="host">{item.host}</div>
                        </li>
                    </ul>
                </span>

            </div>

            <div class="content-panel content-logs">
                <h3>Logs</h3>
            </div>

            <div class="content-panel content-ai">
                <h3>AI assistant <br>Sample Prompts</h3>

                <div class="small-blue-menu-list-wrapper">
                    <ol class="tiny-menu">
                        <li class="tiny-menu-item">
                            <div class="dots-container">
                                <span class="dots-icon" onclick="component.togglePromptPopup(this)" fill="currentColor">
                                    <img class="dots" src="app/assets/imgs/file-list/dots.svg" width="12">
                                </span>
                            </div>
                            <div class="tiny-container">
                                <div 
                                    onclick="component.togglePromptPopup(this, true)"
                                    class="tiny-content">What tables do you know from the Database Schema</div>
                            </div>
                        </li>
                        <li class="tiny-menu-item">
                            <div class="dots-container">
                                <span class="dots-icon" onclick="component.togglePromptPopup(this)" fill="currentColor">
                                    <img class="dots" src="app/assets/imgs/file-list/dots.svg" width="12">
                                </span>
                            </div>
                            <div class="tiny-container">
                                <div 
                                onclick="component.togglePromptPopup(this, true)"
                                class="tiny-content">Get me the top 10 from 'schema_name.table_name'</div>
                            </div>
                        </li>
                        <li class="tiny-menu-item">
                            <div class="dots-container">
                                <span class="dots-icon" onclick="component.togglePromptPopup(this)" fill="currentColor">
                                    <img class="dots" src="app/assets/imgs/file-list/dots.svg" width="12">
                                </span>
                            </div>
                            <div class="tiny-container">
                                <div
                                onclick="component.togglePromptPopup(this, true)" 
                                class="tiny-content">How many records are in the tables 'schema_name.table_name'</div>
                            </div>
                        </li>
                        <li class="tiny-menu-item">
                            <div class="dots-container">
                                <span class="dots-icon" onclick="component.togglePromptPopup(this)" fill="currentColor">
                                    <img class="dots" src="app/assets/imgs/file-list/dots.svg" width="12">
                                </span>
                            </div>
                            <div class="tiny-container">
                                <div
                                onclick="component.togglePromptPopup(this, true)" 
                                class="tiny-content">What are the fields in the 'schema_name.table_name'</div>
                            </div>
                        </li>
                    </ol>

                    <div id="@uniqPromptMenuId" class="popup popup-list-popup" 
                            style="width: 7rem;border: 1px solid; background: white; color: black;">
                        <ul>
                            <li onclick="component.pasteToAgent()">Use in the agent</li>
                            <li onclick="component.pasteToCBoard()">Copy</li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="content-panel content-ppline-script">
                <h3>Pipeline Scripts</h3>
                <section style="margin-top: 20px;">
                    <st-element 
                        (openInEditor)="openScriptOnEditor()"
                        component="FileList" 
                        isDataFile="false"
                        proxy="scriptListProxy"></st-element>
                </section>
            </div>

        </div>
    </div>
</body>


<style>

    img[src="app/assets/imgs/sql-server-v2.png"]{ width: 22px !important; }

    .fetching-db-loader{ text-align: center; flex-direction: column; }
    .db-secrets-loader {
        display: flex; width: 100%; padding-bottom: 15px; margin-top: 45px;
        .mini-loader-dot { background-color: #2c3e50; width: 16px; height: 16px; }
    }

    .DLT-class { width: 22px !important; }

    .catalog-db-addnew{
        padding: 10px 0px;
        display: flex;
        justify-content: center;
    }

    .database-catalog-list{
        width: 98%;
        .database-name{ font-size: 1em; display: flex; justify-content: space-between; };
        .host{ font-size: .8em; };
        li {
            background: rgba(128, 128, 128, 0.23);
            padding-left: 5px;
            margin-top: 4px;
        };

        .edit-datasource{ font-size: 0.7em; padding-right: 4px; margin-top: 9px; cursor: pointer; }
    }

    .under-contruction-feature{
        padding-bottom: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 8em; padding-bottom: 70px; padding-top: 50px;
        };
        .feature-about{
            font-size: 13px; letter-spacing: -.5px;  
        }
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .left-menu-tabs {
        font-family: 'Arial', sans-serif;
        background-color: #f0f2f5;
        display: flex;
        min-height: 100vh;
    }

    .data-panel {
        width: 100%; overflow-y: scroll; height: 90vh;;
    }

    #nav-toggle,
    #tab-outputs,
    #tab-data-source,
    #tab-data-files,
    #tab-api-catalog,
    #tab-logs,
    #tab-ai,
    #tab-diagram,
    #tab-script-ppline {
        display: none;
    }


    .app-container {
        display: flex;
        width: 100%;
    }


    .sidebar-container {
        background-color: #2c3e50;
        color: #ecf0f1;
        /* Start with a fixed collapsed width */
        width: 50px;
        overflow: hidden;
        transition: width 0.3s ease;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }


    #nav-toggle:checked~.app-container .sidebar-container {
        width: 200px;
    }


    .sidebar-toggle {
        display: block;
        text-align: right;
        padding: 10px 10px;
        cursor: pointer;
        font-size: 24px;
        color: #ecf0f1;
        transition: color 0.3s ease;
    }

    .sidebar-toggle:hover {
        color: #3498db;
    }


    .sidebar-menu {
        list-style: none;
        padding-top: 20px;
    }


    .sidebar-menu li label {
        display: flex;
        align-items: center;
        padding: 15px 10px;
        color: #ecf0f1;
        text-decoration: none;
        transition: all 0.3s ease;
        white-space: nowrap;
        cursor: pointer;
    }

    .sidebar-menu li label:hover {
        background-color: #34495e;
        border-left: 4px solid #3498db;
        color: white;
    }


    .sidebar-menu li .icon {
        font-size: 24px;
        /* A fallback for text icons */
        width: 24px;
        height: 24px;
        margin-right: 15px;
        transition: margin 0.3s ease;
        text-align: center;
    }

    #nav-toggle:checked~.app-container .sidebar-container .icon {
        margin-right: 15px;
    }

    .sidebar-menu li .text {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.1s ease;
    }

    #nav-toggle:checked~.app-container .sidebar-container .text {
        opacity: 1;
        visibility: visible;
    }

    #tab-outputs:checked~.app-container .sidebar-menu label[for="tab-outputs"],
    #tab-data-source:checked~.app-container .sidebar-menu label[for="tab-data-source"],
    #tab-diagram:checked~.app-container .sidebar-menu label[for="tab-diagram"],
    #tab-data-files:checked~.app-container .sidebar-menu label[for="tab-data-files"],
    #tab-api-catalog:checked~.app-container .sidebar-menu label[for="tab-api-catalog"],
    #tab-logs:checked~.app-container .sidebar-menu label[for="tab-logs"],
    #tab-script-ppline:checked~.app-container .sidebar-menu label[for="tab-script-ppline"],
    #tab-ai:checked~.app-container .sidebar-menu label[for="tab-ai"] {
        background-color: #3498db;
        color: white;
        border-left: 4px solid #2980b9;
    }

    .content {
        flex-grow: 1;
        padding: 40px;
        line-height: 1.6;
        color: #34495e;
        position: relative;
    }

    .content-panel {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        background-color: white;
        padding: 0;

        h3 {
            text-align: center;
        }

    }

    .content-diagram { border-left: 1px solid; }

    #tab-outputs:checked~.app-container .content-outputs,
    #tab-data-source:checked~.app-container .content-data-source,
    #tab-diagram:checked~.app-container .content-diagram,
    #tab-data-files:checked~.app-container .content-data-files,
    #tab-api-catalog:checked~.app-container .content-api-catalog,
    #tab-logs:checked~.app-container .content-logs,
    #tab-ai:checked~.app-container .content-ai,
    #tab-script-ppline:checked~.app-container .content-ppline-script {
        opacity: 1;
        visibility: visible;
    }

    .content h2 {
        color: #2c3e50;
        margin-bottom: 20px;
    }


    /* * Tooltip styling.
     * The `::after` pseudo-element creates the main tooltip box.
     */
    /* .left-menu-item::after {
        content: attr(data-tooltip);
        position: absolute;
        top: 50%;
        left: 55px;
        transform: translateY(-50%);
        background-color: #555;
        color: white;
        padding: 6px 10px;
        border-radius: 6px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        z-index: 1000000000;
    } */

    /* * Tooltip arrow.
     * The `::before` pseudo-element creates the small triangular arrow.
     */
    /* .left-menu-item::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 47px;
        transform: translateY(-50%) rotate(45deg);
        width: 10px;
        height: 10px;
        background-color: #555;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        z-index: 100000000;
    } */

    /* Show both the tooltip and arrow on hover */
    .left-menu-item:hover::after,
    .left-menu-item:hover::before {
        opacity: 1;
        visibility: visible;
    }

    /* Styling for each menu item */
    .left-menu-item {
        position: relative;
        /* Essential for positioning the tooltip */
        list-style: none;
        margin: 5px 0;
        cursor: pointer;
    }

    /** 
    List of file Styling 
    */
</style>